
@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_FactoryLayout.cshtml";
}

<div class="offset-2 col-8 pt-5">
    <form action="@Url.Action("UpdateProfile", "Agency")" method="post" enctype="multipart/form-data" class="form-horizontal form-group">
        <input name="UserId" type="hidden" value="@Model.UserId" />
        <div class="form-group offset-2 col-8">
            <img class="card-img" src="@Url.Content(Model.photo)" />
        </div>
        <div class="form-group">
            <button type="button" class="btn btn-dark" style="width: 100%;" data-toggle="modal" data-target="#UploadImgModal">
                Change Picture
            </button>
        </div>
        <div class="form-group">
            <label>Agency Name:</label>
            <input name="agency.agencyName" id="AgencyName" class="form-control" value="@Model.agency.agencyName" disabled>
        </div>
        <div class="form-group">
            <label>Manager First Name:</label>
            <input name="firstName" id="FirstName" class="form-control" value="@Model.firstName" disabled>
        </div>
        <div class="form-group">
            <label>Manager Last Name:</label>
            <input name="lastName" id="LastName" class="form-control" value="@Model.lastName" disabled>
        </div>
        <div class="form-group">
            <label>Username:</label>
            <input name="username" id="Username" class="form-control" value="@Model.username" disabled>
        </div>
        <div class="form-group">
            <label>Password:</label>
            <input name="password" id="Password" class="form-control" value="" disabled>
            <input id="ConfirmPassword" class="form-control mt-3" hidden="hidden" placeholder="Confirm Password" disabled>
        </div>
        <div class="form-group">
            <label>Phone:</label>
            <input name="phone" id="Phone" class="form-control" value="@Model.phone" disabled>
        </div>
        <div class="form-group">
            <button type="button" class="btn btn-dark" id="EditBtn" onClick="EditData()" style="width: 100%;">Edit</button>
            <button type="submit" class="btn btn-success  mt-2" id="SaveBtn" style="width: 100%;" hidden="hidden">Save</button>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="UploadImgModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header text-white bg-dark">
                        <h5 class="modal-title">Change Image</h5>
                        <button class="close" data-dismiss="modal"><span>&times;</span></button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <input name="Img" type="file" class="form-control" style="border: none;">
                        </div>
                        <div class="modal-footer" style="border: none;">
                            <button type="button" class="btn btn-dark" onClick="EditData()" data-dismiss="modal">Upload Image</button>
                            <button class="btn btn-dark" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>